---
title: Home
description: COnTaMiNeuro
image: /images/san_marco_night.jpg
bottom_image: http://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Summer School in Computational and Theoretical Models in Neuroscience </h1>
			<p class="subtext editable">9-14 September 2019</p>
			<div class="cta button alt"><a href="registration">Register</a></div>
			<!--<div class="cta button alt"><a href="https://apex.cca.unipd.it/pls/apex/f?p=308:2:::NO:2:P_MERCHID,P_LANG:108,USA">Fee payment</a></div>-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">School Goals</h2>
				<p class="editable">Neurons in the brain are wired into highly structured networks whose primary task consists in processing information. Perception, decision making, learning, memory, and ultimately conscious awareness, are among the most prominent functions that are carried out by neural systems. To maximize functional performance, neural systems also need to attain (during development) and maintain (throughout their life cycle) a certain “balanced state” (both at the cellular and system level) which ensures optimal information processing and computational capabilities.
					<br>
					A longstanding question is how populations of neurons cooperate and coordinate to perform function and maintain an “optimal” state for information processing and computation. While electrophysiological recordings in behaving animals have provided considerable information about what the firing patterns of single neurons encode in isolation, it remains largely a mystery how populations of neurons interact to perform brain functions. How do emergent collective behaviors, such as neuronal oscillations, waves, or avalanches, support function? And what is the nature of the brain’s internal state and how that affects function?
					<br>
					With the aim of further strengthening the connection between neuroscience and statistical physics, this satellite workshop is intended to gather physicists and neuroscientists who work on collective dynamics, cognition and behavior, and provide an interdisciplinary stage to discuss recent theoretical/computational and experimental advances on the role of neural ensembles for brain function. The workshop will be carefully planned to foster discussion and interaction between attendees, and to encourage the establishment of professional relationships. Particular emphasis will be given to participation of young PI’s and scholars and to the diversity in the pool of participants, with a good balance between physicists, theoretical and experimental neuroscientists.  
					 </div>
			<div class="image">
				<img class="editable" src="images/neural-wiring.png" alt="Neural Wiring" />
			</div>
		</div>
	</section>


	<!--<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Where</h2>
				<h3 class="editable">Venetian Institute of Sciences, Letters and Arts</h3>
				<p class="editable">In recent years, a fast development of different quantum hardware, theoretical models and numerical tools has been achieved, which pave the way to unprecedented investigations in quantum science, and in particular in the study of out of equilibrium many-body processes. However, the new challenges call for different expertise that has to be merged: from the theoretical and experimental or numerical knowledge to the theoretical understanding of the system to be simulated. It is then important that experts from different perspectives talk together, exchange ideas providing open problems to be attacked and new ideas for possible platforms where questions can be answered.  Following the success of the first three editions, the fourth edition of this workshop aims to consolidate a new community of actors working together in this exciting interdisciplinary field.</p>
			</div>
		</div>
	</section>-->
</div>
