---
title: Organizers and contacts
description: Organizers and contacts.
image: /images/background/ponte_consafelzi.jpg
---

<style>


.sponsor-logos {
	display: flex;
	flex-wrap: wrap;  
	justify-content: center; 
	align-items: center; 
	gap: 40px; 
}

.sponsor-logos img {
	height: 100px; 
	max-width: 200px; 
	object-fit: contain; 
}

.learn-more {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 15px;
    padding: 10px 0;
}

.learn-more a {
    font-size: 22px; 
    padding: 8px 12px; 
}

@media screen and (max-width: 768px) {
    .learn-more {
        flex-direction: column; 
        text-align: center;
        gap: 8px;
    }

    .learn-more a {
        font-size: 18px;
        display: block;
        width: 100%;
    }
}


</style>


<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Organizers and contacts</h1>
		</div>
	</div>

	<div class="learn-more">
		<a href="#organizers"><span class="highlight">Organizers </span><span class="arrow">&#x25BC;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#contacts"><span class="highlight">Contacts </span><span class="arrow">&#x25BC;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#sponsors"><span class="highlight">Sponsors </span><span class="arrow">&#x25BC;</span></a>
	</div>

</section>



<div class="content">

	<section class="pad" id="organizers">
		<div class="container">
			<p class="editor-link"><a href="cloudcannon:collections/_organizers" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
			<ul class="staff">
				{% assign sorted_organizers = site.organizers | sort: "order" %}
				{% for person in sorted_organizers %}
					<li>
						<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
						<div class="name"><a href={{ person.website }} target="_blank" >{{ person.name }}</a></div>
						<div class="position">{{ person.position }}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="info" id="contacts">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Contacts</h2>
				<p>For any further question please write to <a href="mailto:fabrizio.lombardi@unipd.it">fabrizio.lombardi@unipd.it</a>.</p>
			</div>
		</div>
	</section>
	

	<section class="info" id="sponsors">
		<div class="container flex">
			<div class="text">

				<h2 class="editable">Sponsors</h2>

				<div class="sponsor-logos">
			
				<img src="{{ site.baseurl }}/images/loghi/logo_stars_unipd.png" alt="STARS - University of Padova"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<img src="{{ site.baseurl }}/images/loghi/logo_dfa.png" alt="Department of Physics and Astronomy">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<img src="{{ site.baseurl }}/images/loghi/logo_dsb.png" alt="Department of Biomedical Sciences"> <br><br><br>
				<img src="{{ site.baseurl }}/images/loghi/logo_unipd.jpg" alt="University of Padua"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<img src="{{ site.baseurl }}/images/loghi/Logo_ECLT.png" alt="European Center of Living Technology"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<img src="{{ site.baseurl }}/images/loghi/logo_unive.gif" alt="University of Venice Ca' Foscari"> <br><br><br>
				<img src="{{ site.baseurl }}/images/loghi/logo_FOReSight.png" alt="Foresight Institute"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<img src="{{ site.baseurl }}/images/loghi/logo_unnamed.png" alt="Institute de La Vision, Paris"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
				</div>
				
			</div>
		</div>
	</section>

</div>
